[2016-10-16 18:32] heroselohim opened #1 "Error log - Fatal error up script - vpnfailsafe.sh:104"
Hi, this script seems what I was looking for, but have some issues on my Linux Mint - Open VPN.
At the end of the log you will find an error with the iptables command.

All dependencies refered in the PACKAGE where installed & updated.
If I could supply any other information, just ask.

Thanks in advance for your work !!

**Log**

Sun Oct 16 14:11:22 2016 OpenVPN 2.3.2 x86_64-pc-linux-gnu [SSL (Op

[2016-10-16 20:25] wknapik commented on #1
Hi. Just pushed a fix. Please re-test.

I've never used tcp with OpenVPN and assumed they'd be calling it... "tcp" - my mistake. They're calling it "tcp-client", or "tcp-server", despite the existence of "--client" and "--server" options...

PS. OpenVPN documentation advises against using tcp (http://sites.inka.de/sites/bigred/devel/tcp-tcp.html) - something to consider.

[2016-10-17 00:14] heroselohim commented on #1
Thanks for the help. I'll be seeing different options soon and give a better feedback. Most of this about VPNs is new to me so I won't be of great assitance.

I just expected to connect as usual with the OpenVPN and if the conection drops down to avoid transfer leaks. Almost all scripts and solutions around internet fail at some point and some of them are really hard to implement for my current ni

[2016-10-17 02:09] wknapik commented on #1
Is the script executable after the update ? Are all the dependencies installed ? Are you running openvpn as root ? Are the dependencies in your $PATH ?

If none of the answers lead you to a fix, please add "set -x" in the second line of the script and post the output somewhere, along with the full config.

Also, you're using a 2013 version o OpenVPN. If updating is an option, that would be a good

[2016-10-17 15:33] heroselohim commented on #1
Good news 👍

The VPN is working with the script. And I think your script is running as expected (no error output at least and routes added).

I don't know how to test a drop with OpenVPN for testing, but it should work while OpenVPN program is open I think.

To your questions:
1. Yes, it's executable after the update.
2. All dependencies referenced on PACKAGE were installed & updated from the star

[2016-10-17 16:32] wknapik commented on #1
Great!

What did you change in your config to get it working ?

As for testing - you can test the effectiveness of the script while the vpn connection is up by visiting https://ipleak.net/ or some other similar service. As for when the vpn connection goes down - just kill OpenVPN (using your init script, or just using the kill command) and see if you can resolve any hostnames, or connect to anythi

[2016-10-19 13:08] #1 closed

[2016-11-01 23:35] cjordan opened #2 "vpnfailsafe.sh fails with "unbound variable""
Hi, I'm trying to use this script with my Private Internet Access configs, provided by the AUR package private-internet-access-git - one example is as follows:

[code]
When I call `openvpn --config /etc/openvpn/AU_Sydney.conf`, I get the following:

[code]

Multiple --up and --down scripts, yes, but I don't care, vpnfailsafe should take priority.  Note than when I do not include vpnfailsafe, this

[2016-11-02 03:18] wknapik commented on #2
Hi. Just pushed a fix. Please update the package/script and retry.

vpnfailsafe.sh contains the functionality of update-resolv-conf.sh, so the calls to the latter can (and should) be removed from the config.

[2016-11-02 14:03] cjordan commented on #2
Thanks for your prompt action.  Unfortunately, it looks like there's still room for improvement:

[code]

Also, this is without up and down update-resolv-conf.sh.  Please let me know if there's anything else I can do to test.

[2016-11-02 22:07] wknapik commented on #2
Ok, so I figured this would take forever to resolve by posting logs back and forth, so I just bought a PIA account to debug this myself.

It turns out PIA uses p2p topology, rather than subnet, like my provider and there's a few differences that have to taken into account.

I just pushed a fix, so you should be able to use vpnfailsafe with PIA, but there's one caveat, described [here](https://gith

[2016-11-02 23:45] cjordan commented on #2
Thanks for your dedication!

[2016-11-02 23:45] #2 closed

[2016-11-03 00:45] wknapik commented on #2
No problem @cjordan :)

I just pushed a change that removes the periodic hosts updates. It should improve things for you quite a bit, so please update the script again.

[2016-11-03 10:52] cjordan commented on #2
OK, so vpnfailsafe will now run the first time with the following output:

[code]

I will let this run overnight to see if there's any issue with maintaining the connection while the server's IP changes (ideally, openvpn successfully reconnects after any dropout).  I was aware of the dynamic IP before, and did some awful hacking to get around it, which is how I stumbled on vpnfailsafe in the first

[2016-11-03 12:09] wknapik commented on #2
The first log looks fine. As mentioned [here](https://github.com/wknapik/vpnfailsafe#what-are-the-requirementsassumptionslimitations-), the "RTNETLINK answers: File exists" errors can be ignored safely. If you don't like them, you can use the "route-noexec" option to make OpenVPN leave all the routing to vpnfailsafe.

My thinking here is there's no point in tracking all the IPs behind the domain.

[2016-11-03 23:38] cjordan commented on #2
I didn't have any connection problems with openvpn last night, so I'll try something more long term to see what happens.  Everything looks good on my end!

I agree with your logic.  Hopefully it's only a long term problem, if ever, but maybe the best solution is another VPN provider without these "dynamic" IPs.

I can't seem to reproduce what was happening.  I'll post back if I notice something.

[2016-11-04 00:41] wknapik commented on #2
Great! :)

Hopefully this will not be enough of a problem to switch. If you do decide to do it, check out [torrentfreak's recommendations](https://torrentfreak.com/vpn-anonymous-review-160220/).

Anyway, I'm glad things are working well so far. Let me know if anything changes ;] And thanks again for reporting it. If you just gave up after the first error, I would not have known there was a problem

[2016-11-26 16:46] ch9PcB opened #3 "Unbound variable"
Below is a portion of the error message when I was trying to connect to a VPN server:

    Fri Nov 25 00:00:00 2016 /etc/openvpn/vpnfailsafe.sh tap0 1502 1578 10.10.20.3 255.255.255.0 init
    /etc/openvpn/vpnfailsafe.sh:38: `local -ar remote_ips=($(getent -s files hosts "${remotes[@]}"|cut -d' ' -f1))' returned 2
    /etc/openvpn/vpnfailsafe.sh: line 51: remote_ips[@]: unbound variable
    /etc/o

[2016-11-26 17:46] wknapik commented on #3
Hi @ch9PcB. It seems you're using a tap-device-based VPN - that's ethernet encapsulation. vpnfailsafe was written for tun-device-based connections, which encapsulate IP traffic (as mentioned [here](https://github.com/wknapik/vpnfailsafe#what-are-the-requirementsassumptionslimitations-)). I've never used the former, but given access to one, I could see if adapting vpnfailsafe would be feasible.

Th

[2016-11-26 18:03] wknapik commented on #3
Actually, the first error you got is caused by something else - the incorrect assumption that a domain will always be used to specify remotes. When an IP is used instead, this line fails, but it seems the script manages to do everything it needs to regardless. I'll push a fix for this today.

[2016-11-27 03:40] wknapik commented on #3
Ok, pushed a change that allows using any mix of domain names and IPs for remotes.

@ch9PcB - this may resolve your problem, please update and retest.

[2016-11-27 05:29] ch9PcB commented on #3
Hi @wknapik

Thanks for your prompt reply.

(1) Is it difficult to adapt vpnfailsafe to tap devices?

(2) I have just downloaded the amended vpnfailsafe.sh and below is the error:

    Sat Nov 26 00:00:00 2016 TUN/TAP device tap0 opened
    Sat Nov 26 00:00:00 2016 TUN/TAP TX queue length set to 100
    Sat Nov 26 00:00:00 2016 do_ifconfig, tt->ipv6=0, tt->did_ifconfig_ipv6_setup=0
    Sat Nov 26

[2016-11-27 06:17] ch9PcB commented on #3
Hi @wknapik

I was wondering if you could write a script similar in functionality to vpnfailsafe for OpenBSD?

[2016-11-27 16:07] wknapik commented on #3
(1) I have no idea. If you're using a commercial VPN provider, where I could get an account, I could take a look and find out.

(2) Yeah, this might be where the differences between tun and tap begin. But it might be something else as well. Can you post your config somewhere ? Also, if you could add: `set -x; env` in the second line of vpnfailsafe.sh and post the full output, that could help in fi

[2016-11-27 18:08] ch9PcB commented on #3
Hello @wknapik

(1) Yes, the errors that I mentioned in my earlier posts occurred when I was using a commercial VPN provider. Does GitHub offer a secure private messaging service? If it does I can send you a link with which you can download the exact config files and authentication certificates.

(2) Below is a sample of the config file provided by my commercial VPN provider. I have obfuscated the

[2016-11-27 18:14] ch9PcB opened #4 "Support for TAP device"
Hello,

Would it be possible for vpnfailsafe.sh to work with TAP device as well?

Thanks for your work on a fine script.

[2016-11-27 18:16] ch9PcB opened #5 "Support for OpenBSD"
Hello

It would be wonderful if vpnfailsafe.sh could be made to work on OpenBSD.

Thanks in advance for your time and effort.

[2016-11-28 23:44] wknapik commented on #3
(1) I've made my email available on my github profile page. Feel free to encrypt your message using my pgp key (importable from keys.gnupg.net et al).

(2) Nothing obviously problematic here.

(3) Interesting. I will definitely look into it.

(4) Thanks.

(5) I am not a big fan of sourceforge, nor forums in general. I've visited the freenode channel a few times. Still, good to know about it.

I wi

[2016-11-29 12:16] ch9PcB commented on #3
Hi @wknapik

I have just sent you an email. If you have some spare time, please have a look at it.

OpenVPN developers and people who are IT pros like you subscribe to [OpenVPN Mailing Lists](https://sourceforge.net/p/openvpn/mailman/) and that is where they discuss their highly technical stuff.

Regards.

[2016-11-30 13:04] wknapik commented on #4
Just tested one tap-based VPN. Everything's working fine... It may be that the problems you reported were due to something else. Let's continue in the original issue...

[2016-11-30 15:02] wknapik commented on #4
Ok, I've tested vpnfailsafe with >120 tap-based VPN servers in >70 cities/50 countries (from one VPN provider) and they all worked. I'm pretty sure the problems you experienced were not caused by the VPN being tap-based. Let's continue in the original issue.

[2016-11-30 15:02] #4 closed

[2016-11-30 21:20] GusRath opened #6 "Antergos arch based system"
I have tried your script today, installed from AUR. I'm running airvpn on the command line. When  I connect to the server it seems nothing is happening. I mean nothing saved in /etc/hosts, /etc/resolv.conf  is not updated, neither my iptables rules. But no errors in the console when I 'm connecting to my VPN, and no sign of vpnfailsafe on stdout. When I run the script alone it reports an error : .

[2016-11-30 21:35] wknapik commented on #6
Hi Gus. It seems from the log you attached, that vpnfailsafe.sh is not being executed at all. Are you sure your config file contains the [necessary entries](https://github.com/wknapik/vpnfailsafe#how-do-i-installuse-it-) for vpnfailsafe ? Please paste/attach your config and the command line you're using to start OpenVPN. You can of course ommit any keys, or information you'd rather not share publi

[2016-11-30 21:44] GusRath commented on #6
Here is my command line :
sudo openvpn --config .ovpnAirVPN_United-Kingdom_UDP-443
Here is my connection config file :
[AirVPN_Switzerland_UDP-443.txt](https://github.com/wknapik/vpnfailsafe/files/623083/AirVPN_Switzerland_UDP-443.txt)

[2016-11-30 21:48] GusRath commented on #6
I'm sorry, I closed and reopen the issue

[2016-11-30 21:51] wknapik commented on #6
The file looks fine, but I noticed you're using the config for the UK in your OpenVPN invocation and the config file you attached is for Switzerland. That would explain why vpnfailsafe is not being executed - the config for the UK probably doesn't refer to vpnfailsafe. Is that the issue here ?

[2016-11-30 21:58] GusRath commented on #6
No, no it's OK . I'm running different servers but all have these lines 👍
script-security 2
up /etc/openvpn/vpnfailsafe.sh
down /etc/openvpn/vpnfailsafe.sh
And the vpnfailsafe script is present in the right place.
I don'nt understand why the script is not executed.
Anyway thank you so much for your help !

[2016-11-30 22:00] wknapik commented on #6
Well, let's not give up right away. There's probably a simple explanation. Let me try a few things, maybe I'll come up with something...

[2016-11-30 22:07] GusRath commented on #6
I was used to Sysv init scripts (ifup, ifdown) and systemd is a bit new for me. I even do not know how to manage this in Archlinux (or Antergos).

[2016-11-30 22:23] wknapik commented on #6
The config and the log don't point to any obvious problems (other than the bizarre config filename with the extension at the beginning). I thought I could get a trial account at AirVPN to test this myself, but those are not available automatically (you have to send an email requesting one).

I assume OpenVPN would complain if it couldn't execute the script for whatever reason, so that's probably n

[2016-11-30 22:57] GusRath commented on #6
I have tried your trick replacing vpnfailsafe.sh with a script printing Hello! on stdout but nothing new is echoed, so I deleted the script file, keeping the line that invoke it and openvpn is not complaining.
So ?

[2016-11-30 23:13] GusRath commented on #6
I just find a simple solution in adding --script-security 2 --up /etc/openvpn/vpnfailsafe.sh at the end of my command line (sudo openvpn --config .....). Apparently the script when invoked in the config file do not run.
I'll have to create an alias  if I do not want to fall asleep during typing the connection line. Thank you for all

[2016-11-30 23:19] GusRath commented on #6
Another issue happened 👍
RTNETLINK answers: File exists
Thu Dec  1 00:04:55 2016 ERROR: Linux route add command failed: external program exited with error status: 2
when run the connection command.

[2016-11-30 23:57] wknapik commented on #6
The second thing is not a problem, as explained [here](https://github.com/wknapik/vpnfailsafe#what-are-the-requirementsassumptionslimitations-).

But the behavior of OpenVPN on your box is weird. I'm running what seems to be the exact same package and when I configure a non-existent up/down script, or one that's not executable, OpenVPN exits immediately after starting, with an accurate error messa

[2016-12-01 00:01] wknapik commented on #6
What does `which openvpn` say ?

[2016-12-01 00:53] GusRath commented on #6
which openvpn
/usr/bin/openvpn
I don't know if you really understood what I explained in my previous comments (maybe my explanations are not so clear!). The script is run only if I add *--script-security 2 --up /etc/openvpn/vpnfailsafe.sh* at the end of the command line for connecting to vpn server. None of the scripts called in server.ovpn are run with no complaint from openvpn when they are not

[2016-12-01 01:03] GusRath commented on #6
By the way my box is a new one with a fresh install of Antergos and openvpn 2.3.13-1. No mess. Thank you again for your help.

[2016-12-01 01:39] wknapik commented on #6
No problem GusRath.

What I meant was, that it should work with up/down scripts configured in the config file. There should be no need to pass that on the command line. It seems like an OpenVPN bug, or an issue with the OpenVPN build in your distro, or (most likely) the environment. But since you're using those command line options anyway - you can (and should) pass both the --up and --down option

[2016-12-01 07:28] GusRath commented on #6
Hello wknapik.
This morning I tried to run vpnfailsafe script from within the config file and it works! Didn't change anything since last night. Just rebooting my PC. I am keeping some errors when vpnfailsafe is running */usr/bin/ip route add* but your program is working fine : no more internet when vpn is down. I attach the console messages of openvpn. Can you tell me if these errors are signific

[2016-12-01 07:51] GusRath commented on #6
[openvpnStdout.txt](https://github.com/wknapik/vpnfailsafe/files/623950/openvpnStdout.txt)

[2016-12-01 13:03] wknapik commented on #6
Hi Gus. I'm glad things are working for you. As [mentioned](https://github.com/wknapik/vpnfailsafe#what-are-the-requirementsassumptionslimitations-) in the README, the RTNETLINK errors are nothing to worry about:

You can suppress them, or just leave your config as-is - either way vpnfailsafe is working correctly :)

[2016-12-01 13:03] #6 closed

[2016-12-01 13:23] GusRath commented on #6
I'd like to tell you how your help was great for me. Have a nice day.

[2016-12-01 13:48] wknapik commented on #6
Thanks GusRath :) Glad I could help :)

[2016-12-01 15:35] wknapik commented on #3
Hi @ch9PcB. I was able to connect to your VPN provider, as well as several VPN Gate servers (in several countries, over tcp and udp, on different ports) using vpnfailsafe, with no issues. This seems like some issue on your end. Please add `set -x; env` in the second line of vpnfailsafe.sh and send me the output printed when vpnfailsafe is executed after the connection is established (--up). Also,

[2016-12-01 18:24] jkaberg commented on #3
@wknapik I just tried you're script using an tun device and I'm running into the same error. Here's the output,

[code]

[2016-12-01 18:49] wknapik commented on #3
Thanks for the report @jkaberg. I'll take a closer look at this tomorrow. I think I see the problem, but can't work on this right now. Will let you know when I have something.

[2016-12-02 16:54] wknapik commented on #3
Ok, the problem is most likely caused by different behavior of the bash versions we're using.

The handling of "${arr[@]}" for empty arrays changed in 4.4. Will push a fix for this today.

[2016-12-02 18:03] wknapik commented on #3
Ok, @ch9PcB, @jkaberg - you can update to the latest version and everything should work.

I can't say I like those latest changes, but since major distros still don't use bash 4.4, there's really no other choice. I'll probably drop `set -u` in the future and this will make the workaround added today unnecessary.

Tests with bash 4.3 and AzireVPN/VPN Gate passed for me. Let me know if things are wo

[2016-12-04 17:59] ch9PcB commented on #3
Hi @wknapik

Sorry I missed your question. The bash version that I am using is 4.3

[2016-12-04 18:09] ch9PcB commented on #3
Hi @wknapik

Here's my feedback on using the latest version of vpnfailsafe.

It is working in the sense that I am able to connect to a VPN server and once the connection is established, I am able to surf the internet.

After I have manually terminated the VPN connection, I am unable to ping websites. It shows that vpnfailsafe is doing exactly what it has been programmed to do.

However the VPN con

[2016-12-04 18:36] ch9PcB commented on #3
Hi @wknapik

If I use vpnfailsafe.sh, the message *Initialization Sequence Completed* takes about:

(a) 20 seconds longer to appear than when I do not use vpnfailsafe.sh in an ovpn file.
(b) 15 seconds longer to appear than when I use a script containing iptables firewall rules

[2016-12-04 22:33] wknapik commented on #3
Hi @ch9PcB. The RTNETLINK errors can be safely ignored, as explained [here](https://github.com/wknapik/vpnfailsafe/blob/master/README.md#what-are-the-requirementsassumptionslimitations-).

The reason for the delay is not clear, but I won't be able to investigate that for a few days.

The problem originally reported in this issue is resolved though, so I'll close it. Feel free to open a new issue f

[2016-12-04 22:33] #3 closed

[2016-12-05 06:27] ch9PcB opened #7 "Connection tracking?"
Hi @wknapik

I wish to know if vpnfailsafe.sh is able to do the following:

    iptables -A INPUT -p tcp -m tcp -m conntrack -s 1.2.3.4 -i eth0 --sport 1194 -j ACCEPT  --ctstate ESTABLISHED

If the current version of vpnfailsafe does not have it, would it be possible for you to incorporate it?

Thanks.

[2016-12-05 17:53] wknapik commented on #7
Hi @ch9PcB. `vpnfailsafe` was designed to work alongside an existing firewall, without interfering beyond its intended function. The idea is that the user defines their firewall rules, saves them (using iptables-save, or some init script that calls it) and then uses `vpnfailsafe`, which adds three chains with its own rules.

I don't have access to any device other than a phone at the moment to tes

[2016-12-05 17:55] wknapik commented on #7
Or is your point, that rules are added only for the configured protocols, which might exclude TCP ?

[2016-12-06 12:33] ch9PcB commented on #7
I am sorry if you do not have access to internet. I do not need an immediate answer to my question. Please reply to my post at a time most convenient to you.

I understand when you wrote: "vpnfailsafe was designed to work alongside an existing firewall, without interfering beyond its intended function." I shall include some conntrack rules in my iptables.

I don't understand what you wrote: " that

[2016-12-06 12:47] ch9PcB opened #8 "Restart pause"
Hi @wknapik

I tested vpnfailsafe with many config files from [VPN Gate](http://www.vpngate.net/en/) and discovered that a weird behavior manifests itself. (The behavior in question is reproducible. It does not appear when I use config files without vpnfailsafe and config files with iptables firewall rules.)

The behavior is this: there is at least a "Restart pause, 5 seconds" before "Initializati

[2016-12-11 23:16] maikeloni opened #9 "Server not pingable"
#### Setup
Own openvpn server and one openvpn client.

#### Issue
Using openvpn **without** vpnfailsafe, the vpn server **is** pingable. Everything is OK.
Using openvpn **with** vpnfailsafe, the vpn server **is not** pingable. Neither over VPN IP, nor by public IP or domain.

Do you have an idea, why?

#### Further information

These are my configs
[client.conf.txt](https://github.com/wknapik/vpnf

[2016-12-12 17:37] wknapik commented on #9
Just pushed a fix, please let me know if it resolves the problem for you.

PS. `iptables -nvL` output is not terribly useful. `iptables -S` works much better.

[2016-12-12 22:19] mfuellbier commented on #9
Thanks for the quick fix.
```ping x.x.x.x``` and ```ping example.com``` work fine now.

What still does not work is ```ping 10.9.8.1```.
Besides that, I still neither can connect to the http(s) server running on the openvpn machine, nor can I ```ssh``` to it - no matter if I try to connect via IP or via hostname. Maybe I have to modify the server.conf and push some routes or something. I'll play a

[2016-12-13 11:12] wknapik commented on #9
Great.

Hmm, that should work. Lines 129 and 133 of the script should pass that to pre-existing iptables rules. Could your pre-vpnfailsafe firewall (on the client) be blocking those pings ? Can it be the firewall/sysctl settings on the server ?

Well, this situation is clear at least. `vpnfailsafe` sets the route to your configured vpn servers over your regular interface (not tun0) and then preven

[2016-12-13 12:25] wknapik commented on #7
Hi @ch9PcB. What I meant in my second comment was that the rule you mentioned looks a lot like it's meant to allow traffic from a vpn server over tcp. If that was the idea, than `vpnfailsafe` should take care of adding such a rule for every remote in your client config. For instance if your config contains lines like

[code]

then `vpnfailsafe` will add rules allowing traffic in both directions be

[2016-12-13 13:13] wknapik commented on #8
The man page has only this to say about this sort of issue:

Server-side logs would be helpful, but I know those are not available to you...

VPN Gate almost always offer both a TCP and a UDP-based client config. Would it be acceptable for you to switch to UDP ? I know this doesn't directly address your problem, but I don't have much info to work with and it's something you [should do anyway](http

[2016-12-13 16:25] mfuellbier commented on #9
withouth vpnfailsafe:
[code]
with vpnfailsafe:
[code]
I am not really sure, where the 10.9.8.5 is coming from. It also appears in the ```ip a``` and ```ip route``` output, as seen in the first comment.

As I said, without vpnfailsafe, the connection to the vpn server works using any IPs. But with vpnfailsafe, no connection to the vpn server works at all - only connection to the internet works.

[2016-12-13 18:22] wknapik commented on #9
10.9.8.5 is what `vpnfailsafe` got from environment variables set by the OpenVPN client as the VPN-level gateway.

And it *works* as one.

Here's a quick guess based just on the config file and the man page, not confirmed by recreating your full setup:

You're using --server without `nopool` and --ifconfig-pool-persist (which probably also implies --ifconfig-pool). From the man page:
[code]
So onc

[2016-12-14 10:36] ch9PcB commented on #8
Hi @wknapik

Thanks for your reply.

As recommended I switched to UDP-based client configs and I still received the same error, except that "Restart pause" is now 2 seconds instead of 5 seconds for TCP-based client configs.

[2016-12-14 16:08] ch9PcB commented on #7
Hi @wknapik

Let me illustrate my question with an example.

Before I came to know about vpnfailsafe, I used to use a set of iptables firewall rules to ensure that when the VPN connection was terminated abruptly, no internet traffic would go out of my laptop PC. (These rules were offered to me by a kind user on an online forum.)

Furthermore I was told that the iptables rules include connection tr

[2016-12-14 21:16] wknapik commented on #7
It depends.

`vpnfailsafe` was not meant to set up a complete firewall for the user. Only prevent IP leaks. Other safety measures are left to the user's pre-existing firewall rules.

So the rules you have that are only meant to prevent IP leaks can be removed without loss, but the ones meant to further limit the traffic allowed to/from your machine could be left in.

What you pasted is not the com

[2016-12-15 13:14] wknapik commented on #9
Hi @maikeloni. Did I manage to explain the situation ? `vpnfailsafe` most likely doesn't know about 10.9.8.1 due to the pooling you're using, so it has no way of adding appropriate rules. If you don't want to change your config, or the firewall on the server, you could just add these two rules to your pre-vpnfailsafe firewall on the client:

either
[code]
or
[code]

and services at 10.9.8.1 would

[2016-12-15 14:08] mfuellbier commented on #9
Hi @wknapik, sorry that I didn't answer earlier, quiet busy these days ...
10.9.8.5 does not work either. But the proposals in your last post work. I also came up with these kind of solutions. As far as I tested it, it works fine for me. I didn't implement this solution yet for temporal reasons. I suppose that this issue is solved though.

Thank you very much for your quick and proficient help!

[2016-12-15 14:13] wknapik commented on #9
No problem :) Glad to hear things are working for you. And thanks for the report @maikeloni, I totally missed the issue of pingability.
I'll close this ticket, but feel free to post any further comments/findings if you like.
Cheers.

[2016-12-15 14:13] #9 closed

[2016-12-15 14:20] ch9PcB commented on #7
Thanks for your clarification.

As suggested by you, below is the output before I launch my iptables firewall rules:

[code]

Below is the output after I launch my iptables firewall rules:

[code]

Thank you for your script. If you do not mind, I have a few questions about it:

What does it do?

    for opt in -F -X; do
        iptables -t "$table" "$opt"
    done

What does it do?

Don't you have

[2016-12-15 14:22] ch9PcB opened #10 "vpnfailsafe to work with IPv6"
Hi @wknapik

This is a feature request. May I ask that vpnfailsafe.sh be made to work with IPv6 as well?

Thanks.

[2016-12-15 15:10] wknapik commented on #7
Since the script you pasted doesn't set any policies, this would mean, that the firewall rules only really prevent IP leaks and drop packets in invalid state. I guess the author of those rules assumed there would be a DROP, or REJECT policy on INPUT (`iptables -P INPUT DROP` instead of `iptables -P INPUT ACCEPT`). If you want to keep using those rules, you should probably set that policy for INPUT

[2016-12-16 13:00] ch9PcB commented on #7
The backstory is this: there are times when I do not use a VPN tunnel, meaning that I am not worried about IP and DNS leaks.  During those times, I will use the default policies set by my Linux distro which are:

[code]

*Question*: If I change the default policies set by my Linux distro to "input drop" or "input reject", "forward drop" or "forward reject", will I still be able to surf the interne

[2016-12-16 13:36] wknapik commented on #7
You could just run the script I pasted in those instances and it would clean up all existing rules (including those set by `vpnfailsafe`) and set the minimal rules that should give you pretty good protection.

Just clearing all rules and setting all policies to ACCEPT will cause all traffic to/from your machine to be accepted, which is probably not what you want.

If you clear all rules and just s

[2016-12-16 13:36] #7 closed

[2016-12-16 13:38] wknapik commented on #8
I can't reproduce this with any VPN Gate servers. Could you paste the output again for a UDP-based connection ? And also the client config, so I can recreate your conditions better ?

[2016-12-21 17:33] ch9PcB commented on #8
Hi @wknapik

I am sorry for not having replied to you earlier as I was caught up with some work.

As requested please find below three config files and their corresponding output:

_1st config file and corresponding output_

[code]

[code]

_2nd config file and corresponding output_

[code]

[code]

_3rd config file and corresponding output_

[code]

[code]

[2017-05-16 15:12] woyaojizhu8 opened #11 "Could you please help me with setting up vpnfailsafe in openSUSE leap 42.2 ?"
I'm using NetworkManager's GUI to set my openvpn connection, and I have found nothing in /etc/openvpn. How to find my "<your_provider>.conf" , and where should I put vpnfailsafe.sh to ?

[2017-05-18 02:50] tiny-e opened #12 "vpnfailsafe.sh fails with message "Command line is not complete. Try option "help"""
... bad reading issue... disregard

[2017-05-18 02:52] #12 closed

[2017-05-18 20:55] wknapik commented on #11
Hi @woyaojizhu8.

I don't use NetworkManager myself, but I hear `vpnfailsafe` can be used pretty much the same way when the VPN connection is handled by NetworkManager.

I assume NetworkManager is fed an OpenVPN config one way, or another. Perhaps it's not stored in /etc/openvpn (or /etc/openvpn/client), but that's not really relevant. You can just save vpnfailsafe.sh anywhere (/etc/openvpn would

[2017-05-26 13:05] fecegogiw opened #13 "Resolv.conf keeping old dns"
Hi, excellent script.

Initially I was having some issues with the routes, then I added this
[code]
before the script (like in your example) and it's now all working fine in regards to routes.

I don't know If I understood correctly the idea of the resolv.conf, but for me instead of just keeping the VPN dns address, it's just appending it to the config and keeping all my old ones.

Maybe it's not

[2017-05-29 14:17] wknapik commented on #13
Hi @fecegogiw. And thanks.

Yeah, `route-noexec` makes it a bit cleaner, but you can run without it and everything will still work correctly.

That should not happen.
It sounds like something else than `vpnfailsafe` might be trying to handle resolv.conf (whether via `resolvconf`, or otherwise).
I'd start by checking OpenVPN output to see what DNS information was pushed by the server (`journalctl -

[2017-05-29 14:23] wknapik commented on #8
After testing with several VPN providers and dozens of VPN Gate servers, in TUN and TAP modes, over TCP and UDP, in all supported topologies, I was not able to reproduce the problem. Will look into it again if someone else reports it.

[2017-05-29 14:23] #8 closed

[2017-06-02 16:32] fecegogiw commented on #13
Hey, thanks for your reply.

One thing in the output I can see is this:
[code]

Do you think this is something else or maybe this is executed by vpnfailsafe?

Sorry to bug you with this, I'm don't know how vpns work that well.

[2017-06-05 16:38] wknapik commented on #13
This error is not significant. The server is pushing a Windows-only option to a Linux client. I wouldn't expect that to cause any issues.

Please post:
* Your VPN config file (with secrets removed, if any)
* `openvpn --config your_config_file` output
* `resolvconf -l` output

[2017-06-06 09:10] fecegogiw commented on #13
Hey, here it is, I've removed all the "secret" part and the IPs as well using {{ and }} where I removed them

[code]

The output from my OpenVpn file is:
[code]

[2017-06-06 12:46] wknapik commented on #13
I don't see any obvious issues with the config, but the line `verb 1` reduces output verbosity to the point where it's not very useful. Particularly, the `PUSH_REPLY` is not visible in the OpenVPN log because of it. Please change that value to a 3, or 4 and paste a new OpenVPN log. Also, what's the `resolvconf -l` output (and contents of /etc/resolv.conf) after the VPN connection is established ?

[2017-06-16 13:48] githubtefo opened #14 "Problem during connection."
Hi!
I'm trying to use the script, but something goes wrong during connection.
I installed via AUR.
The output of `openvpn` after the _init_ of `vpnfailsafe.sh` is:
`/usr/lib/resolvconf/libc: line 230: /etc/resolv.conf: No such file or directory
Fri Jun 16 09:25:20 2017 /usr/bin/ip route add "VPN IP"/32 via 192.168.0.1
RTNETLINK answers: File exists`

The connection never completed and I hasn't acc

[2017-06-18 21:50] wknapik commented on #14
Hi @githubtefo

I'm not sure what happened there with resolvconf. Google says some people have had the "/usr/lib/resolvconf/libc: line 230: /etc/resolv.conf: Operation not permitted" error, when the file was set immutable (the fix is running `chattr -i /etc/resolv.conf` as root), but you're getting "no such file or directory", which makes no sense, unless, somehow, the script doesn't see /etc...

[2017-06-22 14:09] githubtefo commented on #14
@wknapik , thanks for your answer!
1) I have a line r`esolv_conf=/etc/resolv.conf` in my `/etc/resolvconf.conf`.
2) I tried `sudo chattr -i /etc/resolv.conf` and the output was: `chattr: Operation not supported while reading flags on /etc/resolv.conf`
3)a) I run: `sudo openvpn --config CONFIG-NAME.ovpn --script-security 2 --up /etc/openvpn/vpnfailsafe.sh --down /etc/openvpn/vpnfailsafe.sh`
3)b) Lo

[2017-06-25 13:30] wknapik commented on #14
Ok, that's good.

It might be a symlink, which would cause the error. But no matter, we'll figure it out. Let's move on.

Ok, the invocation looks fine.

BTW, you can use the `auth-user-pass` option to store your credentials in a file, so you don't have to enter them manually. It's convenient, if not the most secure. But I digress...

What happened here ? An accidental paste ?

Well, line 230 of /

[2017-06-25 23:29] fecegogiw commented on #13
Hello, sorry for taking so long to reply.

I think I've found where the issue is, but I have no idea how to fix it.

When I connect now with more details being printed, I can see this (I've replaced the server name with `{servername}` and the proper gateway ip with `{proper-gateway-ip}` and another ip (seems in the same range as the gateway, but I don't know what is this ip with `{another-ip}`

Ap

[2017-06-30 03:25] githubtefo commented on #14
Here the outputs:
[code]

Thanks for the `auth-user-pass` advice!
Yes, last 2 lines were an accidental paste.
It is correct, the problem is that there is no internet connection after the VPN connection is made.
Thanks @wknapik for the help!

[2017-07-02 20:12] wknapik commented on #14
Hi @githubtefo

It seems you've run into this connman bug https://bugs.archlinux.org/task/48044. If you're not using connman, I'd suggest uninstalling it. If you are, I'd look for a package that doesn't mess up your system.

Once you get rid of the dead /etc/resolv.conf symlink created by connman and replace it with a regular file, everything should start working. /etc/resolv.conf will likely get

[2017-07-02 21:32] wknapik commented on #13
Hi @fecegogiw

Please update to the latest version. It should resolve the problem. That was totally my bad - didn't use the -x switch to resolvconf. Sorry for taking so long to realize that. Let me know if I can close the issue.

Cheers.

PS. The error you pasted, about unrecognized options - you can safely ignore it. It's just the server pushing a Windows-only option.

[2017-07-02 21:46] wknapik commented on #11
Correction: seems NetworkManager doesn't support the OpenVPN --up/--down options. It has it's own mechanism.

https://www.google.com/search?q=networkmanager+openvpn+up+script - the first links describe how to use it.

Or you could just use OpenVPN via systemd - https://wiki.archlinux.org/index.php/OpenVPN#Letting_NetworkManager_start_a_connection - and get the full functionality, including --up/--

[2017-07-02 21:46] #11 closed

[2017-07-03 19:58] fecegogiw commented on #13
Hey @wknapik

I've just updated the script and now it is working.

Thank you very much.

One thing though, the AUR script is still not getting the latest version apparently, so I've just downloaded it manually and it worked.

Thanks again.

[2017-07-03 19:58] #13 closed

[2017-07-04 08:29] wknapik commented on #13
Glad to hear that @fecegogiw. As for the AUR package - depending on what you use, the update procedure for -git packages may be different, than for regular ones. I've certainly seen that with some tools. Anyway - thanks for the report :)

[2017-07-05 04:48] githubtefo commented on #14
@wknapik
I'm in trouble, given I use lxqt and there is no an easy way to replace connman with other lxqt- like package.
I try to mannually set the content of `/etc/resolv.conf` but the system still says `/etc/resolv.conf: No such file or directory` How can I do it?

[2017-07-07 00:24] wknapik commented on #14
Hi @githubtefo. I don't think using LXQt ties you to Connman. The [Arch wiki on LXQt](https://wiki.archlinux.org/index.php/LXQt) only mentions a connman systray applet, but I'm guessing you could use [NetworkManager](https://wiki.archlinux.org/index.php/Networkmanager), or [Wicd](https://wiki.archlinux.org/index.php/Wicd) instead. If Connman is really a must, at least try removing the dead /etc/re

[2017-07-07 05:01] githubtefo commented on #14
Yes, you are right, there are several options...
I removed the old/dead symlink and now is working! Apparently it remained from an older package with the bug.
Now the error `/etc/resolv.conf: No such file or directory` disappeared  and the connection has internet access :)
Thanks @wknapik
We should close the issue, shouldn't it?

[2017-07-07 08:18] wknapik commented on #14
That's great @githubtefo. Glad I could help :)

[2017-07-07 08:18] #14 closed

[2017-07-12 07:20] triath commented on #13
After updating with d951d43 I get this error:

Tue Jul 11 23:54:48 2017 /etc/openvpn/vpnfailsafe.sh tun0 1500 1558 xxx.xxx.xxx.xxx 255.255.255.0 init
resolvconf: Error: Command not recognized
Usage: resolvconf (-d IFACE|-a IFACE|-u|--enable-updates|--disable-updates|--updates-are-enabled)
/etc/openvpn/vpnfailsafe.sh:78: `echo -e "${domains/ /search }\n${ns// /$'\n'nameserver }"|resolvconf -xa "$de

[2017-07-12 17:02] nstinus opened #16 "Option to restore system as before --up was called"
Your script is used in https://github.com/nstinus/nordvpn.

In our use case, people could want to use vpnfailsafe to ensure that an active service having a dropping connection is still safe but also having the option to stop the openvpn service in which case, they might want to come back to how it was before and still be able to connect to the internet. That means doing some things the documentati

[2017-07-12 18:01] wknapik commented on #16
Hi @nstinus. I will publish a "reset" script this week.

[2017-07-12 18:13] wknapik commented on #13
Hi @triath. It seems you're using an old version of resolvconf. Looks like [this commit](https://github.com/rsmarples/openresolv/commit/e1e42847a5b08e7ec09f247df128d7ebcf6e5a50) introduced exclusive interfaces (the `-x` switch). That was over 2 years ago. Upgrading to a newer version of openresolv should fix the issue. Let me know how it goes!

[2017-07-17 01:05] wknapik commented on #16
Hi @nstinus. I added the extras/ directory with some helpers, including vpnfailsafe_reset.sh, which does what you asked for.
The AUR package installs these files under /usr/share/doc/vpnfailsafe/ , without executable permissions.
I need to work on the AUR package anyway, so I'll look into whether this location, or permissions should be changed.

[2017-07-23 11:56] nstinus commented on #16
@wknapik I confirm it works. Thank you!
Until you fix the package, I'll set up a workaround. Any issues with just setting x permissions on these scripts?

[2017-07-23 11:56] #16 closed

[2017-07-23 18:28] wknapik commented on #16
Hi @nstinus. I don't think scripts should be run from /usr/share/doc. That's a place for documentation. At the same time I don't want to put them in /usr/bin, or /etc/openvpn/client, because most people probably don't want them there. They're meant as examples, that a few will choose to copy to some other location, maybe customize to their needs and use. As for vpnfailsafe_reset.sh specifically, I

[2017-09-04 21:34] jonascj opened #17 "POSIX instead of bash"
This is a feature request.
It would be awesome to port the script to not depend on bash, but be posix compliant.

[2017-09-04 21:58] jonascj opened #18 ""IP-leak" before first vpn connection"
Am I right neither the main script (called by openvpn up/down) nor the extras (used manually) prevents outgoing connections (other than to the vpn server( before the first/initial openvpn connection?

I.e. if openvpn was suppose to autoconnect on boot/login, but never does so (vpn server down, systemd unit failing, etc.) then one would unknowingly be using a non-vpn connection, making ones real ip

[2017-09-05 09:26] wknapik commented on #17
What would be the point in that ?

Bash is not the most expressive language to begin with. Dropping all its non-posix features would basically mean a complete rewrite in a worse language. That would require a lot of time and effort, would inevitably introduce new bugs and the end product would be less maintainable.

If this had any chance of running on, possibly very old, possibly non-Linux, syste

[2017-09-05 10:32] jonascj commented on #17
Yeah, stupid request after reading your argument. Everyone can afford to keep bash besides their zsh/dash combos.

And yes, it was to not keep bash installed besides other shells, but that is stupid, likely I use many other bash dependent scripts without knowing it.

Please close this issue :-)

[2017-09-05 10:38] wknapik commented on #17
No worries ;]

[2017-09-05 10:38] #17 closed

[2017-09-06 11:03] wknapik commented on #18
Yes, neither vpnfailsafe, not any of the extras will prevent IP leaks before the initial VPN connection is established.

I'm working on some other extras at the moment, but will look into this.

[2017-09-06 19:52] jonascj commented on #18
At least I got the overall workings of the scripts right :-P Also, I'm glad you find it a useful thing to give an example of.
I personally see two options for implementing it:
1. The user manually enters the servers to be exempt from the firewall drop-all-rule.
2. Parse all /etc/openvpn/*.conf files, do a dns lookup of their `remote some.server.com` entries, exempt the resulting IP addresses from

[2017-09-07 14:05] wknapik commented on #18
Yeah, it's not my use case, but it's certainly someone's.

We have to get the whitelist of VPN servers somehow, so like you said, it would either have to be a list of hosts, or we'd have to parse the chosen VPN configs (or both, which I think would be the most flexible option).

In some cases it might even be easier than that and no scripts would be necessary at all. I see NetworkManager has a fea

[2017-09-07 16:36] jonascj commented on #18
Sure, you work om what you want to, I just wanted to ask the question and 'raise the issue' while I remembered.

NetworkManager might have an autoconnect feature, Connman does which is what I am using for the project that lead me to your package / script.

And that is precisely my usecase for this request / idea, to protect against silent failure of any VPN auto connect feature.

[2017-09-11 00:35] wknapik opened #19 "VPN nesting/stacking"
VPN in VPN

[2017-09-22 16:29] sash322 opened #20 "/etc/openvpn/vpnfailsafe.sh:79: `echo -e "${domains/ /search }\n${ns// /$'\n'nameserver }"|resolvconf -xa "$dev"' returned 99"
When running openvpn /etc/openvpn/myconf.conf got this
...
Fri Sep 22 17:25:18 2017 /etc/openvpn/vpnfailsafe.sh tun0 1500 1602 10.8.0.2 255.255.255.0 init
resolvconf: Error: Command not recognized
Usage: resolvconf (-d IFACE|-a IFACE|-u|--enable-updates|--disable-updates|--updates-are-enabled)
/etc/openvpn/vpnfailsafe.sh:79: `echo -e "${domains/ /search }\n${ns// /$'\n'nameserver }"|resolvconf -xa

[2017-09-23 17:33] wknapik commented on #20
Hi @sash322, that looks like [this report](https://github.com/wknapik/vpnfailsafe/issues/13#issuecomment-314678151). You're using a resolvconf version, that's >2 years old and doesn't support the -x switch. Upgrading to a newer version should _resolve_ the problem ;] Depending on your distro, the package might have different names - openresolv, resolvconf, etc.

[2017-09-25 14:35] sash322 commented on #20
Ty for response. Fixed that problem by installing last version of openresolv with this guide https://gist.github.com/uzantonomon/5489a4d9fe4caf813f45bf4bde3a1ffe

[2017-09-25 14:35] #20 closed

[2017-09-25 15:38] wknapik commented on #5
This seems very unlikely to ever be implemented. Too much Linux-specific stuff. Closing, sorry.

[2017-09-25 15:38] #5 closed

[2017-10-24 22:29] Daniel-GabrielN opened #21 "resolvconf error"
resolvconf: Error: Command not recognized
Usage: resolvconf (-d IFACE|-a IFACE|-u|--enable-updates|--disable-updates|--updates-are-enabled)
/etc/openvpn/vpnfailsafe.sh:79: `echo -e "${domains/ /search }\n${ns// /$'\n'nameserver }"|resolvconf -xa "$dev"' returned 99
Tue Oct 24 22:47:40 2017 us=8878 WARNING: Failed running command (--up/--down): external program exited with error status: 99
Tue Oct

[2017-10-25 09:18] wknapik commented on #21
Hi Dan. Your resolvconf version is too old. This was first reported [here](https://github.com/wknapik/vpnfailsafe/issues/13#issuecomment-314678151) and then [here](https://github.com/wknapik/vpnfailsafe/issues/20). I have no idea why some distros have not updated resolvconf in >2 years. Anyway - updating to a more recent resolvconf/openresolv version will fix the error.

[2017-10-25 09:30] Daniel-GabrielN commented on #21
Thank you for your quick reply, I will update my resolvconf.

[2017-10-25 09:30] #21 closed

[2017-10-29 19:16] ansiiis opened #22 "Cannot ping VPN's nameserver"
With the script active it adds the correct nameservers to resolv.conf but it seems the rules added to iptables stop me from even pinging the nameservers provided by the VPN. I would love to add my iptables but I am afraid of putting my ip so openly on the internet, maybe I can send it to you privately?

[2017-11-02 18:07] wknapik commented on #22
Hi @ansiiis,

To debug this properly, I'd need the output of the following commands:
- `ip route`
- `iptables -S`
- `resolvconf -l`
- `cat /etc/resolv.conf`

You can contact me at wmknapik at gmail com to provide the info. Feel free to obscure anything you'd rather not share, though I would need at least the private IPs to remain intact (or modified in a consistent way).

I suspect that this is no

[2017-11-03 10:21] wknapik commented on #22
I just realized I never actually said, that the command outputs I listed should be collected after the VPN connection is established and vpnfailsafe gets executed.

[2017-11-03 10:35] ansiiis commented on #22
sending this to your gmail in 5-10 minutes

[2017-11-03 10:40] pensionars commented on #22
sending this to your gmail in 5-10 minutes but it looks to me it is routed through the tunnel
EDIT. I just realized I do not have your gmail address.

[2017-11-11 19:30] wknapik commented on #22
Hi @ansiiis. I didn't notice the edit. The email address is above, in my initial response. I just skipped the "@" to avoid getting it scraped too easily. Feel free to use PGP to encrypt your message, if you like. You can get my public key by running `gpg --keyserver hkp://keys.gnupg.net --recv-key 2CF9B98E7CF8679B8D3F237ED5129D34A38CC133`.

[2017-12-06 01:17] userhere opened #23 "resolvconf: Error: Command not recognized"
resolvconf: Error: Command not recognized
Usage: resolvconf (-d IFACE|-a IFACE|-u|--enable-updates|--disable-updates|--updates-are-enabled)
/etc/openvpn/vpnfailsafe.sh:79: `echo -e "${domains/ /search }\n${ns// /$'\n'nameserver }"|resolvconf -xa "$dev"' returned 99
WARNING: Failed running command (--up/--down): external program exited with error status: 99

Debian stretch 9.2.1
Resolvconf version

[2017-12-07 15:38] wknapik commented on #23
As the message says, we're invoking `resolvconf -xa` and your resolvconf version does not support the `-x` switch.

This was reported [here](https://github.com/wknapik/vpnfailsafe/issues/21), [here](https://github.com/wknapik/vpnfailsafe/issues/13#issuecomment-314678151) and [here](https://github.com/wknapik/vpnfailsafe/issues/20). You need to update to a more recent version of the resolvconf tool

[2017-12-14 03:26] newuserhere commented on #23
Does this look good?
What about this lines?
UDP link local: (not bound)
WARNING: this configuration may cache passwords in memory -- use the auth-nocache option to prevent this
Option 'explicit-exit-notify' in [PUSH-OPTIONS]:7 is ignored by previous <connection> blocks
Too few arguments.
Too few arguments.
RTNETLINK answers: File exists
ERROR: Linux route add command failed: external program exite

[2017-12-15 10:40] wknapik commented on #23
Hi. This output looks mostly fine.

You might want to `chmod 600 /etc/openvpn/ovpn-tls.key`, or something.

Not sure what would disable explicit-exit-notify.
It's nothing to be concerned about, but it's a useful option.

I don't know what's producing these messages, but it's something invoked by vpnfailsafe, so it would be best to look into it.

If you add `set -x` in the second line of vpnfailsaf

[2017-12-15 12:04] bashruleseverythingaroundme opened #24 "dns in resolv.conf different from the allowed route in iptables"
Hi,
first thing first, thank you so much for the scripts and the time you spent on them, I really appreciate your work!

I have an issue that I am trying to debug without success and I would really appreciate your input on it.

When connecting to the VPN using the vpnfilesafe script I end up with a dns server in resolv.conf of XX.XX.16.1 and if I grep for XX.XX in iptables I end up with the follow

[2017-12-15 17:57] newuserhere commented on #23
Do you mean, nano vpnfailsafe.sh then change set -eEo pipefail to set -xeEo pipefail
?

[2017-12-15 18:22] newuserhere commented on #23
+ read -ra numbered_vars
+ readonly numbered_vars foreign_option_1 foreign_option_2 proto_1 proto_2 remote_1 remote_2 remote_port_1 remote_port_2 remote_port_1 remote_port_2
+ readonly dev
+ readonly ifconfig_local
+ readonly ifconfig_netmask
+ readonly ifconfig_remote
+ readonly route_net_gateway
+ readonly route_vpn_gateway
+ readonly script_type
+ readonly trusted_ip
+ readonly trusted_port
+ r

[2017-12-18 00:13] wknapik opened #25 "Potential DNS leak after disconnection from VPN if DNS for undelying device is on private network"
When the tunnel is closed, DNS settings are restored to the original state, but firewall rules prevent any outgoing traffic to the internet (other than to the VPN server). Traffic to private networks, however, is unaffected. That means, that, if the current DNS server is on a private network, queries will not be blocked.

If an attacker managed to trigger a DNS query on the user's system, after di

[2017-12-18 00:14] #25 closed

[2017-12-18 01:18] wknapik commented on #22
Hi @ansiiis. You never got back to me over email. Since it's been 1.5 months since last contact, I assume this issue is no longer relevant. Closing now, but if you ever get in touch, we can reopen.

[2017-12-18 01:18] #22 closed

[2017-12-18 01:39] wknapik commented on #23
Thanks for the log.

It seems resolvconf is producing the messages.

Are you sure you're using the openresolv package ? As mentioned [here](https://github.com/wknapik/vpnfailsafe#user-content-what-are-the-requirementsassumptionslimitations-), there are multiple implementations of resolvconf and they're not compatible. For me this works with openresolv 3.9.0.

The output of `resolvconf --version` w

[2017-12-18 02:42] wknapik commented on #24
Hi @bashruleseverythingaroundme. Thank you for the kind words ;]

As for your DNS issue - I'm afraid the information you gave me is not enough to figure it out, but I think I have a pretty good theory.

It seems that XX.XX.48.0/22 is the private network you're joining when you connect to the VPN and the server pushes XX.XX.16.1 as the DNS. The problem with this is that XX.XX.16.1 falls outside of

[2017-12-19 14:54] newuserhere commented on #23
apt-get install openresolv
openresolv is already the newest version (3.8.0-1).

When I installed openresolv it removed resolvconf.

resolvconf --version
Illegal option --
Illegal option -e
Illegal option -s
Illegal option -o
Illegal option -n
tun0 NetworkManager

resolvconf -l
#resolv.conf from tun0
nameserver vpndns
nameserver vpndns

#resolv.conf from NetworkManager
#Generated by NetworkManager

[2017-12-20 09:45] ghost commented on #24
Hi @wknapik,

I've sent you an email with the output of the commands above, I've also discovered this on the vpn provider website:

"Our DNS servers are not publicly accessible from the Internet, they are only accessible once connected to IVPN. To work out the address of the closest DNS server simply look at the IP assigned to you when you connect. The DNS servers are in the format 10.x.x.1. For e

[2017-12-22 16:09] wknapik commented on #24
Hi @bashruleseverythingaroundme. Sorry for the late response - 'tis the season to be busy...

Yep, I got your email and it seems to confirm my suspicion.

The problem is that vpnfailsafe creates a firewall rule specifically to pass traffic from the internal VPN IP range, but that range excludes the IP of the DNS server, so the responses from the DNS server end up being DROPped.

You can confirm th

[2017-12-22 21:35] ghost commented on #24
Hi @wknapik,

thank you so much for the reply and the in depth explanation :) definitely the season to be busy...

I've just opened a ticket on the IVPN website (unfortunately there was no option to CC) and I've pointed the ticket to this thread hoping they are going to address the issue. As it stands right now they advised me to use an external DNS stating that this is the expected behaviour. I'v

[2017-12-22 23:16] wknapik commented on #24
If you use a DNS with a public IP, the traffic will go over the tunnel, so everything should just work.

The `chattr +i` is a pretty heavy-handed hack, but it should work. Just don't forget about it ;]

The nice thing about using your VPN provider's DNS server in this case is that your queries never pass through the open internet, so noone can listen in (except your VPN provider, of course), but t

[2017-12-22 23:35] wknapik commented on #23
Yes, these two packages are mutually exclusive, but that's ok - we wanted the openresolv implementation.

Huh ? What happened there ? The option was parsed as a combination of short options. That's all wrong.
[code]

The nameservers for the VPN seem to have been set correctly, despite the error messages.

Something's wrong here. Why are your ISP's DNS servers mixed with your VPN's DNS servers ? Pe

[2017-12-23 00:25] wknapik commented on #23
I just tested this on debian stretch. Apparently, support for the `--version` switch was added after 3.8.0, so this is expected behavior, but when I used openvpn+vpnfailsafe, I didn't see the "Too few arguments." message.

[2017-12-24 10:56] ghost commented on #24
Hi @wknapik,

just a quick update on this, someone at IVPN is taking care of the issue and they will roll out a fix in the following weeks!

Thanks again for all you help and enjoy the holidays! ;)

[2017-12-28 11:35] wknapik commented on #24
That's great! I'll keep this issue open until we confirm that everything is working with IVPN (or your subscription runs out, but then someone from IVPN could run a test for us).

Thanks for the holiday wishes - it was nice, while it lasted ;]

[2017-12-29 09:50] ghost commented on #24
Hi @wknapik,

someone from IVPN just got in touch, they have released a fix and now everything is working as expected! ;)

Have a super 2018 and thank again for all your help!

I'm closing the ticket down!

[2017-12-29 09:50] #24 closed

[2017-12-29 10:47] wknapik commented on #24
Awesome :]

You too :)

Thanks for the report :)

[2017-12-29 15:59] wknapik commented on #23
So, to sum up - it seems that everything is working, but there are some mysterious messages from resolvconf (not reproducible for me on Debian), that don't seem to affect its operation.

Please let me know if you need any further help, otherwise I'll close this issue.

[2018-01-01 21:33] alphancioglu opened #26 "Allow connections to DNS servers outside the private IP range of the VPN the user connects to"
My system is arch linux. I incorporated vpnfailsafe into openvpn but I can't ping or drill after I connect with openvpn:

[code]
Traffic to vpn's dns server is routed through tun0 but I can't ping nameserver also:

[code]

I know that the problem is related to vpnfailsafe because I can ping successfully if I remove vpnfailsafe and connect.

[2018-01-07 17:20] wknapik commented on #26
Hey @alphancioglu. Sorry it took me so long to reply.

It seems the problem you're having is not with pings, but with name resolution (`ping: google.com: Name or service not known`). I assume the `[ip]` is one you expected and the routing appears to be correct.

Given all that, I'd say this is probably the same, or a similar problem to #24.

Please send me the output from the following commands:
*

[2018-01-07 17:22] wknapik commented on #23
Ok, given it's been 19 days since last communication, I assume there's no point in keeping this issue open. Feel free to reopen, or open a new one if needed.

[2018-01-07 17:22] #23 closed

[2018-01-08 16:04] ghost commented on #26
Hello @wknapik,
Thanks for the reply. I have sent you an email with the commands you requested. I am using ExpressVpn.

[2018-01-10 22:28] wknapik commented on #26
Hi @alphancioglu,

Thanks for the email. I see what the problem is. Your VPN provider pushes a DNS server that lies outside of the private network you join when you connect. Normally, I'd say that's misconfiguration on the VPN provider's end, but ExpressVPN, from my own experience, also push an additional route to the DNS server, which is enough to make this work, but vpnfailsafe doesn't currently

[2018-01-10 22:37] wknapik commented on #26
As a temporary workaround, you could remove `route-noexec` from your config and manually run `iptables -I VPNFAILSAFE_INPUT -s <dns_server_ip> -p udp --sport 53 -i tun0 -j ACCEPT` after connecting. It will get things to work, but it's a lousy manual hack.

Sorry I don't have a better answer at the moment.

[2018-01-11 11:04] ghost commented on #26
I was using route-noexec option but it didn't help.

I planned using vpnfailsafe to be able to use the DNS server of the vpn. Then I discovered update-resolv-conf and it did the trick. I will use vpnfailsafe after you add the feature. I can email you any command output if you need. Thanks for the help.

[2018-01-11 11:25] wknapik commented on #26
update-resolv-conf will set the dns server for you, yes, but be aware, that it is not IP leak protection. For instance, If you get disconnected from the VPN, your connection to the internet will be active and your IP may be revealed to whoever you consider your adversary. If you're facing any serious risks, you need to be aware of that. I'm not sure if ExpressVPN offers their own IP leak protectio

[2018-01-12 08:14] ghost commented on #26
I added iptables command you suggested to the vpnfailsafe script and dns server works now. I will continue to use vpnfailsafe. You are right about not to expose my IP. Always better to be safe.

[2018-01-13 23:20] juoza opened #27 "openwrt version"
Looks like a great script, would be nice to have a version of it for openwrt. I think it might need a bit of modification as openwrt is quite minimal and doesnt have bash. Please consider it :) thanks!

[2018-02-02 13:51] wknapik commented on #27
Hi @juoza. Thanks for the suggestion. I never thought of it, but it sounds like a nice idea. I don't currently own an OpenWRT-based device, but I could just use a VM, I guess. I'm between holidays right now, so I won't look at this for a while, but I will get around to it eventually.

[2018-02-11 00:23] veloute opened #29 "NetworkManager"
Does this script work with the OpenVPN plugin for NetworkManager?

[2018-03-17 14:30] ncoder-1 commented on #24
Hi,
I know the issue is closed, but I happen to have this exact issue with Witopia.  They also use a non-public internal DNS which is pushed by their server.conf and unless I do `iptables -I VPNFAILSAFE_INPUT -s <DNS_IP> -p udp --sport 53 -i tun0 -j ACCEPT` like you suggested, it will block my dns requests.

Is there a way to configure this from within the script (like a variable you turn `true` o

[2018-03-21 12:09] wknapik commented on #24
Hi @elimpnick. Sorry for the delay in my response, I've been away for a long time, but I'm back now. There is an open issue for this - #26. I will implement a proper fix for this. Can't promise a deadline, but I will look at it this weekend. Thanks for the report - let's continue in #26 from now on.

[2018-03-21 12:11] wknapik commented on #26
Changed the title of the issue, so users can easily see that the problem is known and an issue remains open.

I've been away for a while, but I'm back now. Will take a first look at this this weekend.

[2018-03-21 12:20] wknapik commented on #29
Hi @veloute. Sorry it took me so long to respond, I've been away for a few weeks.

This script works with OpenVPN. If NetworkManager allows you to pass `--up /path/to/vpnfailsafe.sh --down /path/to/vpnfailsafe.sh`, then that would work, because OpenVPN would invoke the script, with all the environment variables set, that vpnfailsafe expects. However, if NetworkManager has it's own notion of an up/

[2018-03-26 20:45] wknapik commented on #29
Yep, NetworkManager does not support passing --up/--down to OpenVPN, so if you want to use vpnfailsafe, OpenVPN will have to be started by something else, like your init scripts (see: https://github.com/wknapik/vpnfailsafe/issues/11#issuecomment-312518942 for a previous answer to the same question).

I don't see any [open issues](https://bugzilla.gnome.org/buglist.cgi?quicksearch=product%3A%22Netw

[2018-03-26 20:45] #29 closed

[2018-04-07 19:55] wknapik commented on #26
Ok, so a preliminary version of the improvement this issue is about is available on the `additional_routes` branch. If anyone wants to test, here's the script https://github.com/wknapik/vpnfailsafe/blob/additional_routes/vpnfailsafe.sh. If no one reports any problems with the update and I don't find any myself, I will push that change to master in a few days, triggering a new vpnfailsafe-git relea

[2018-04-15 11:43] #26 closed

[2018-04-15 11:58] wknapik commented on #26
@alphancioglu, @elimpnick - this is fixed.

Tested with several providers, seems to be working fine. The changes are on master now. If you're using the AUR package, you can update to get the latest changes.

[2018-04-15 13:33] ncoder-1 commented on #26
Can you increment the PKGREL or a new PKGVER so we can get the update in the AUR? I'll try it out right away after. Thanks!

[2018-04-15 13:41] wknapik commented on #26
This is a -git package - there's no need to increment anything. The changes in the git repo are enough.

Different package managers handle updating -git packages differently.

When I want to update all of them, I use `pacaur -Syu --devel`, but I would expect `pacaur -S vpnfailsafe-git` to work as well.

If you're using a different tool, that's ok, but you might need to check the man page for any -

[2018-04-15 14:06] ncoder-1 commented on #26
I use `pacaur` as well.  I happen to be a package manager of a few packages in the AUR including some from git repos, so I know [how this works](https://wiki.archlinux.org/index.php/PKGBUILD#pkgrel).

I would have updated the `PKGBUILD` for a fix such as this, if you don't want to, fine by me, there's at least 3 people that know this is fixed I guess.
Thanks again.

[2018-04-18 01:21] coldtelling opened #30 "pi@raspberrypi:~ $ curl ipinfo.io/ip curl: (6) Could not resolve host: ipinfo.io"
Fresh install, works fine without vpnfailsafe, whenever I run it with vpnfailsafe I get:
`pi@raspberrypi:~ $ curl ipinfo.io/ip curl: (6) Could not resolve host: ipinfo.io`
log:
`root@raspberrypi:~# sudo openvpn --config /etc/openvpn/default.conf
Wed Apr 18 01:07:22 2018 Unrecognized option or missing or extra parameter(s) in /etc/openvpn/default.conf:20: block-outside-dns (2.4.0)
Wed Apr 18 01:07:

[2018-04-18 09:25] wknapik commented on #30
Hi @coldtelling,

I'd need the output of the following commands (run after the VPN connection is established, with vpnfailsafe in use) to investigate this:
* `ip route`
* `iptables -S`
* `resolvconf -l`
* `cat /etc/resolv.conf`
* `resolvconf --version`

Also, please add `set -x` in the second line of the script and include the output, like in your initial report.

If you're not using the latest ve

[2018-04-18 09:29] wknapik commented on #30
Also, note that your firewall rules refer to device `tun0`, while the OpenVPN output indicates that `tun1` is in use.

[2018-05-03 10:23] wknapik commented on #30
Hey @coldtelling. Any news ? Did you manage to resolve your problem ?

[2018-05-25 07:28] wknapik commented on #30
No response for over a month, closing.

[2018-05-25 07:28] #30 closed

[2018-08-12 00:16] githubtefo opened #31 "Auto re-connect every time the conection drops."
Hi! I've been using the script since a while and it works great, thank you!
But every time that my Wifi connection drops, I need to manually invoke a "clear iptables" script, followed by the command of openvpn with the vpnsailsafe script included:
`sudo openvpn --config config.ovpn --script-security 2 --up /etc/openvpn/vpnfailsafe.sh --down /etc/openvpn/vpnfailsafe.sh`
Is there any way to automati

[2018-08-12 14:42] wknapik commented on #31
Hi @githubtefo,

When your wifi connection is reestablished, OpenVPN should eventually reconnect on its own. However this can take a while, so personally, I use the [pkill_hup_openvpn](https://github.com/wknapik/vpnfailsafe/blob/master/extras/pkill_hup_openvpn) script mentioned [here](https://github.com/wknapik/vpnfailsafe#user-content-how-do-i-make-openvpn-reconnect-when-the-underlying-network-co

[2018-08-13 00:26] githubtefo commented on #31
Hi @wknapik, thank you for your reply.
I'm using the lxqt-connman-applet to manage my networks and the issue involves always the wlan0 network (my Wifi connection drops several times per day and every time I need to manually clear the iptables and set up the openvpn again).

[2018-08-13 14:00] wknapik commented on #31
That should not be necessary. In fact it's a major goal for vpnfailsafe to make reconnections seamless and safe.

Can you tell me what the problem is when you reconnect to your wifi network ? Can you share the OpenVPN log ? What does `ping -c1 8.8.8.8` say ? What about `ping -c1 google.com` ?

Let's start with that and we'll see where it goes.

[2018-08-13 21:38] githubtefo commented on #31
@wknapik, both pings have no respond when the connection drops out.

This is the log in the terminal:

Mon Aug 13 17:27:49 2018 SIGUSR1[soft,ping-restart] received, process restarting
Mon Aug 13 17:27:49 2018 Restart pause, 5 second(s)
Mon Aug 13 17:27:54 2018 NOTE: the current --script-security setting may allow this configuration to call user-defined scripts
Mon Aug 13 17:27:54 2018 NOTE: --fast

[2018-08-17 03:44] travankor opened #32 "Not working on musl"
First of all, thank you first for this script. I've been using it successfully on Void Linux with glibc for several months now.

However, when I try to use vpnfailsafe on Void Linux musl libc, openvpn will not connect. I double checked the provided AUR PKGBUILD to make sure that all dependencies are installed.

The separate project update-resolv-conf.sh works fine though. Any idea what this proble

[2018-08-18 01:29] travankor commented on #32
Here is the output if it is of any help. Anything inside ${} is what I edited out.

Attempting to connect with vpnfailsafe:

[code]

Connecting with update resolv conf:

[code]

When I tried vpnfailsafe again, I got a slightly different output:

[code]

Is the problem related to glibc's getent?

[2018-08-18 17:38] wknapik commented on #32
Hi @travankor,

Indeed. The glibc variant supports the `-s` option, while the musl variant does not.

I opened issues against [Void](https://github.com/void-linux/void-packages/issues/1924) and [Alpine](https://bugs.alpinelinux.org/issues/9278) to see if it can be fixed at the source.

Let's wait for feedback from @fabled, who's the current maintainer of getent.c.

PS. The first log you pasted - t

[2018-08-18 17:55] wknapik commented on #31
Hi @githubtefo,

Those logs don't really help. I'm trying to establish what the exact problem is. You're saying you have no internet access after you reconnect to your wifi, but I need to know what exactly isn't working to be able to do anything about it. Is it the routing, is it the firewall, or maybe just name resolution...

The next time you're connected to a VPN and you get disconnected and re

[2018-08-18 20:17] githubtefo commented on #31
Great, I sent the outputs via email.
Thank you!

[2018-08-19 15:47] fabled commented on #32
`getent` is not really specified by POSIX. It is mostly glibc invention, but also supported by some BSDs and other Unixes. The `-s` option seems to be implemented only in glibc. So usage of it works only with glibc. We ship getent in Alpine mainly to allow building of certain software projects and it is not part of musl. Even if we at Alpine would support this, it might not be present in any other

[2018-08-19 17:40] wknapik commented on #32
Hey @fabled! Thanks for your response.

Given the lack of specification, I think following glibc makes the most sense. I've only seen two implementations on Linux so far - the glibc one and the one you're maintaining, so if you added support for `-s`, I'd be covered, since vpnfailsafe only runs on Linux anyway.

It seems like it would be simple to implement, but I'm not much of a C coder, so I can

[2018-08-19 21:21] travankor commented on #32
I don't know why musl can't bundle getent along with some extras under some sort of auxiliary repository. Maybe a good question for the mailing list, but since I'm a newbie I would rather not ask.

The current getent from NetBSD (used on Alpine/Void) is ~500 sloc, compared to ~1000 sloc for glibc's getent, so there isn't a lot of extra bloat.

However, if the current getent is considered feature c

[2018-09-02 21:40] wknapik commented on #31
Hey. Sorry it took me so long to reply. I see the issue, but I'm not sure about the cause yet, it looks bizarre. I've actually used that provider before, without issues - reconnects worked just fine. I only used OpenVPN directly, without any additional applications, network managers, etc.

Can you send me the OpenVPN config, or at least the `remote ...` lines from that file ?
And also the entries

[2018-09-03 22:07] githubtefo commented on #31
I use the default config files available in the webpage of my VPN.
Regarding the /etc/hosts, it seems that vpnfailsafe are not adding any entries.
(I sent you both files via email).

[2018-10-09 05:40] bashruleseverythingaroundme opened #33 "systemd-networkd /etc/hosts not being updated with the vpn server IP/DNS"
Hi wknapik,

it's me again, hope you are doing well.

I've recently switched from using networkmanager and a dispatcher to just systemd-networkd with the openvpn service started at boot but I am having issues with vpnfilesafe and was wondering if you have ever encountered something like this (as I am having trouble figuring out what is going on).

The main issue appears to be the vpnfailsafe not i

[2018-10-11 16:58] ghost commented on #33
Some progress on this (that makes me even more confused) changing **line 37** from:

if remote_entries="$(**getent -s dns hosts** "${cnf_remote_domains[@]}"|grep -v :)"; then

to

if remote_entries="$(**getent hosts** "${cnf_remote_domains[@]}"|grep -v :)"; then

seems to fix the issue, but I am wondering why was this working when I was using network manager?

"getent -s dns hosts" is definitely r

[2018-10-13 07:22] ghost commented on #33
After spending a few more hours trying to get this sorted I ended up realizing that (IMHO) plain systemd-networkd is not really that elegant of a solution to deal with networks. I wanted to drop networkmanager for quite some time but not having a networkd-dispatcher in the base repository on Arch is not helping. if you have both wifi and eth on your machine you end up using timeouts and network-wa

[2018-11-16 23:05] dpantel opened #34 "systemd-resolved compatibility?"
Are there plans to support systemd-resolved?

Sorry, I am not too knowledgeable in this realm, but from some googling, it seems that systemd-resolved is supposed to supplant resolvconf and while the two can coexist, there might be issues.

Thoughts?

[2018-11-19 02:49] TheLinuxGuy opened #35 "Unable to reach my localnets (missing routes in system)"
I'm trying to setup the shell script on one of my LXC containers and I am facing some challenges with the way the default routes are setup. Please bare with me as I tried to make some sense of the script.

I think the problem is that when the script runs on successful openvpn connection, the "ip route add" for my localnets is not being properly setup - I think the expectation is for the following

[2018-11-19 03:11] TheLinuxGuy commented on #35
This is the resulting firewall rules. I am a little confused because there is "RETURN" and "DROP" for the local networks.

My other clients on LAN are in other subnets/vlans:
172.32.0.0/24
172.16.0.0/24

There's a web proxy behind this LXC container where the OpenVPN tunnel runs, after the vpnfailsafe.sh executes I am no longer able to use it unless I do:

Which adds some of the missing routes to

[2018-12-18 09:58] roboyoshi commented on #23
If anyone else stumbles upon this issue: The openresolv packages in debian stable are v3.8.0 and even unstable gives v3.8.0 as of 12/2018 (At least on my proxmox cluster that is..).

If you want to get rid of the "Too many arguments" Issue, you can simply compile the 3.9.0 yourself:

[code]

[2018-12-19 18:21] askgitquestions opened #37 "Ubuntu 18.04 LTS"
Does vpnfailsafe work for Ubuntu 18.04 LTS without any issues?
I asking this because they replaced ifupdown, resolvconf, and others with networkd, resolved, and their homegrown netplan.
Can anyone using vpnfailsafe confirm that it works on Ubuntu 18.04 LTS without issues?

[2019-04-13 02:40] veloute commented on #35
did you end up finding a solution to this?

[2019-04-21 15:17] ammgws commented on #37
Did you get anywhere with this?

[2019-07-08 03:03] willbelr commented on #18
This is easily solved with ufw:
[code]

[2019-10-14 12:36] dngray commented on #10
This [script](https://github.com/ovpn-to/oVPN.to-IPtables-Anti-Leak) appears to have support for IPv6. @wknapik do you think that would be of any help in providing IPv6 for this script?

[2019-10-19 07:30] dngray opened #38 "Rewrite using nftables"
It seems that [nftables](https://en.wikipedia.org/wiki/Nftables) is certainly going to be the future.

I think this could drastically simplify things too, especially when considering IPv6 support https://github.com/wknapik/vpnfailsafe/issues/10

Should also be noted that a couple of major distributions are now using nftables by default:

- **Debian 10** https://wiki.debian.org/nftables

- **RHEL 8

[2019-10-19 07:41] dngray commented on #5
Might be worth considering this port https://github.com/giovanifss/vpnfailsafe-openbsd

[2019-10-24 00:01] wknapik commented on #34
Hi @dpantel,

The man page for systemd-resolved says:

(section `/ETC/RESOLV.CONF` at the bottom goes into more detail)

So systemd-resolved can be used with vpnfailsafe. I'll close this issue, since there's nothing to fix, but if you run into a specific problem, feel free to open a new one.

[2019-10-24 00:01] #34 closed

[2019-10-24 00:21] wknapik commented on #33
Hey @bashruleseverythingaroundme. Sorry for the late reply. I haven't used systemd-{networkd,resolved} myself, but I just read the man page for systemd-resolved to reply in another issue and I think that's where the answer lies - take a look at  `man systemd-resolved`, especially section `/ETC/RESOLV.CONF` at the bottom. If you no longer care about getting this to work, we can just drop it, but if

[2019-10-24 00:23] wknapik commented on #27
Depends on #32.

[2019-10-24 00:48] dpantel commented on #34
I think it’s more fair to say that vpnfailsafe might coexist and possibly not break systemd-resolvd, not that it actually works with it.

My question was whether you will switch from openresolv/resolvconf to systemd-resolvd, and it seems that the answer is “no”.

Thank you for the scripts anyway. It has been helpful as a guide.

[2019-10-24 01:08] ammgws commented on #34
If you install systemd-resolvconf it creates a symlink at /usr/bin/resolvconf so this script should still work. (That is assuming the systemd implementation/interface is the same)

Have you tried it?

[2019-10-24 01:18] dpantel commented on #34
Interesting point. I don’t remember if I’ve tried it. I’ll give it a go.

[2019-10-24 01:18] wknapik commented on #35
Hi @TheLinuxGuy,

Sorry it took me so long to reply. I think I see the issue.

But first things first - I think you need to install a [recent version of openresolv](https://github.com/wknapik/vpnfailsafe#what-are-the-requirementsassumptionslimitations-). The log lines

indicate that you're either using a different package, or an outdated one. This will sort out name resolution.

Now for the routin

[2019-10-24 01:23] wknapik commented on #38
Hey @dngray. We talked elsewhere, so I won't repeat it all here. The tl;dr, for anyone interested, is that this would be too big a change for too little gain, so that is unlikely to happen. Closing for now.

[2019-10-24 01:23] #38 closed

[2019-10-24 01:33] wknapik commented on #37
Hi @askgitquestions. I don't use Ubuntu, or any of these services, so I can't answer that. If you encounter any problems with this setup, please report them.

[2019-10-24 01:33] #37 closed

[2019-10-24 01:46] wknapik commented on #34
@dpantel I can't see a reason to switch from openresolv to something systemd-specific. `man systemd-resolved` says that if /etc/resolv.conf is a regular file, it is read by systemd-resolved to discover DNS servers and it can be managed by tools/services predating (or just not explicitly supporting) systemd.

I'm not familiar with systemd-resolvconf, but that sounds like another option.

[2019-11-01 12:44] #19 closed

[2019-11-05 09:19] travankor opened #39 "Custom DNS"
Not sure if this is in scope, but would it be possible to route a custom DNS protocol, like DNSCrypt (supports both authenticated and anonymized DNS), over the tunnel? Or have something like described in [this guide](https://docs.pi-hole.net/guides/vpn/dual-VPN/)?

This could also be useful for the DNS-over-HTTPS and DNS-over-TLS protocols. These protocols only support authentication, no anonymiza

[2020-02-23 21:14] gemina-vii opened #40 "not working, vpnfailsafe error"
Hello, new fresh install on archlinux with openvpn. tunnel connects fine. Installed vpnfailsafe and get this:

Feb 23 15:44:09 val openvpn[550]: /etc/openvpn/vpnfailsafe.sh:132: `iptables -A "VPNFAILSAFE_$*" -p "${!proto%-client}" -"$sd" "${remotes[i-1]}" --"$sd"port "${!port}" "${suf[@]}"' returned 2
Feb 23 15:44:09 val openvpn[545]: WARNING: Failed running command (--up/--down): external program

[2020-03-15 20:10] gemina-vii commented on #40
In my case, this is running on a dedicated vm router that redirects all traffic through the vpn. Instead of using vpnfailsafe I found it easier add a simple iptables rule in /etc/iptables/iptables.rules  to drop all traffic that is not going through the vpn:

`-A` FORWARD -s 10.1.1.0/24 -i ens18 -o ens18 -j DROP`

Modify -s for your internal network and correct the interfaces to reflect your machi

[2020-03-24 20:38] #35 closed

[2020-03-24 20:39] #33 closed

[2020-03-24 21:33] wknapik commented on #39
Hi @travankor,

I don't see how vpnfailsafe could be modified to facilitate the use of these protocols.

vpnfailsafe works only with OpenVPN and all OpenVPN does, with regard to name resolution, is push/pull IPs of DNS servers.

vpnfailsafe uses /etc/resolv.conf (via openresolv/resolvconf) to modify system-wide DNS settings. I'm guessing every "alternative" resolver implements compatibility with /

[2020-03-24 21:33] #39 closed

[2020-03-24 21:42] wknapik commented on #40
Hi @gemina-vii. If you're still interested in fixing the issue, please add `set -x` in the second line of vpnfailsafe.sh and share the output produced when connecting. If you'd rather not paste it here, you can send it via email (wmknapik at gmail), my PGP key signature is in my profile description.

[2020-04-15 20:49] #40 closed

[2020-07-18 20:51] tomsoyer commented on #8
How did you solve problem?  please help. I have a same problem now with VpnGate servers. I tried many combinations. I can connect to my own OpenVpn server. But cannot connect to VpnGate servers.

[2020-09-08 06:11] gregt590 commented on #23
I ran into this problem installing and running openvpn 2.4.7 on Raspberry Pi Operating System.  Updating resolvconf from 3.8.0-1 to 3.9.0 as shown immediately above eliminated the two "Too few arguments." error messages following "dhcp-option DNS" and invocation of /etc/openvpn/update-resolv-conf statement in my openvpn's log for my system.  Thanks!

[2021-01-19 18:39] adrian-maurin opened #41 "Another app is currently holding the xtables lock."
Hi,
Lately I have the following error when starting an openvpn client using `vpnfailsafe.sh` as up/down script:
[code]
I am no iptables expert but as far as I understand there is a race condition somewhere and it suggests to add `-w` flag to (all?) iptables calls.

Should I do that to the script or is there a more elegant explanation/solution to this issue?

Thanks!

NB: As I was looking for an an